{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.dextrade.com","description":"Generated server url"}],"paths":{"/public/zealy/task":{"post":{"tags":["zealy-controller"],"operationId":"task","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilMain":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilMain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilMainBuyOrSell":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilMainBuyOrSell","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilBonus":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilBonus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilBonusBuyOrSell":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilBonusBuyOrSell","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/zealy/taskDextradeCom":{"post":{"tags":["zealy-controller"],"operationId":"task2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/utils/utxo":{"post":{"tags":["utils-controller"],"operationId":"getUtxo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UtilsUTXORequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UtilsUTXOResponseModel"}}}}}}},"/public/utils/get/trx/energy":{"post":{"tags":["utils-controller"],"operationId":"deposit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItrxRequestEnergyModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/utils/get/trx/bandwidth":{"post":{"tags":["utils-controller"],"operationId":"getBandwidth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItrxRequestEnergyModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/utils/coin-pairs/init":{"post":{"tags":["utils-controller"],"operationId":"init","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/push":{"post":{"tags":["push-controller"],"operationId":"sendPush","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/push/web":{"post":{"tags":["push-controller"],"operationId":"sendWeb","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/push/ios":{"post":{"tags":["push-controller"],"operationId":"sendIos","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/push/ios/dev":{"post":{"tags":["push-controller"],"operationId":"sendIosDev","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/push/android":{"post":{"tags":["push-controller"],"operationId":"sendAndroid","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/provider/update/user":{"post":{"tags":["provider-controller"],"operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/provider/update/reserve/":{"post":{"tags":["provider-controller"],"operationId":"updateReserve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderReserveUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/provider/update/exchanger-settings/status":{"post":{"tags":["provider-controller"],"operationId":"updateExchangerSettingsStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsStatusRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/provider/update/exchanger-settings/":{"post":{"tags":["provider-controller"],"operationId":"updateExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/provider/test":{"post":{"tags":["provider-controller"],"operationId":"testDexPayPairPrices","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/provider/exchanger-settings":{"post":{"tags":["provider-controller"],"operationId":"listExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsListRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}}},"/public/provider/exchanger-settings/byId":{"post":{"tags":["provider-controller"],"operationId":"getExchangerSettingsById","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}},"/public/provider/delete/exchanger-settings/":{"post":{"tags":["provider-controller"],"operationId":"deleteExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsDeleteModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/provider/create/user":{"post":{"tags":["provider-controller"],"operationId":"addUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderUserResponseModel"}}}}}}},"/public/provider/create/exchanger-settings":{"post":{"tags":["provider-controller"],"operationId":"addExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/price/by/uuids":{"post":{"tags":["price-controller"],"operationId":"getByAggregatorAndPair","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceResponseModel"}}}}}}}},"/public/payment/callback":{"post":{"tags":["payments-public-controller"],"operationId":"paymentCallback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentCallBackModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/public/monitoring/check/connection":{"post":{"tags":["monitoring-controller"],"operationId":"sendWss","parameters":[{"name":"apiKey","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/public/exchanger/filter":{"post":{"tags":["exchanger-public-controller"],"operationId":"getActiveExchangersByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}}},"/public/broadcast/broadcast/trx":{"post":{"tags":["broadcast-controller"],"operationId":"broadcastTrx","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TronScanBroadcastRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/auth":{"post":{"tags":["auth-controller"],"operationId":"auth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponseModel"}}}}}}},"/api/user/update":{"post":{"tags":["user-controller"],"operationId":"update","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/session/set/name":{"post":{"tags":["user-controller"],"operationId":"updateName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdNameModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/save/avatar":{"post":{"tags":["user-controller"],"operationId":"update_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvatarModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"uuid"}}}}}}},"/api/user/ping":{"post":{"tags":["user-controller"],"operationId":"ping","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/offline":{"post":{"tags":["user-controller"],"operationId":"offline","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/is/username/exist":{"post":{"tags":["user-controller"],"operationId":"isUsernameExist","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/user/delete":{"post":{"tags":["user-controller"],"operationId":"delete","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/delete/session":{"post":{"tags":["user-controller"],"operationId":"deleteSession","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/delete/avatar":{"post":{"tags":["user-controller"],"operationId":"deleteAvatar","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/add/device/id":{"post":{"tags":["user-controller"],"operationId":"addDeviceId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceIdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/user/activate":{"post":{"tags":["user-controller"],"operationId":"activate","parameters":[{"name":"force","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/test/without-body":{"post":{"tags":["test-controller"],"operationId":"testWithoutBody","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/test/with-body":{"post":{"tags":["test-controller"],"operationId":"testWithBody","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/statistics":{"post":{"tags":["statistics-controller"],"operationId":"getStatistics","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatisticResponseModel"}}}}}}},"/api/payment/methods":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllBanks","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankDictModel"}}}}}}},"post":{"tags":["payment-methods-controller"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/payment/methods/update":{"post":{"tags":["payment-methods-controller"],"operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentBalanceUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/payment/methods/delete":{"post":{"tags":["payment-methods-controller"],"operationId":"delete_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/payment/exchange":{"post":{"tags":["payments-controller"],"operationId":"createExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentCreateExchangeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/keys/info":{"post":{"tags":["api-key-controller"],"operationId":"getStatistics_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceApiKeyInfoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceApiKeyRequestLimitModel"}}}}}}},"/api/fee/estimate":{"post":{"tags":["fee-controller"],"operationId":"estimate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeEstimateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer"}}}}}}},"/api/exchanger/status":{"post":{"tags":["exchanger-controller"],"operationId":"onOffSetting","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnOffSettingsRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchanger/save/settings":{"post":{"tags":["exchanger-controller"],"operationId":"saveExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdNameModel"}}}}}}},"/api/exchanger/return/deleted/setting":{"post":{"tags":["exchanger-controller"],"operationId":"restoreDeletedExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchanger/reserve":{"get":{"tags":["exchanger-controller"],"operationId":"reserveList","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReserveModel"}}}}}}},"post":{"tags":["exchanger-controller"],"operationId":"createReserve","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchanger/reserve/list":{"post":{"tags":["exchanger-controller"],"operationId":"createReserve_1","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReserveModel"}}}}}}}},"/api/exchanger/info":{"post":{"tags":["exchanger-controller"],"operationId":"getExchanger","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}},"/api/exchanger/filter":{"post":{"tags":["exchanger-controller"],"operationId":"getActiveExchangersByFilter_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}}},"/api/exchanger/filter/byId":{"post":{"tags":["exchanger-controller"],"operationId":"getActiveExchangersByFilter_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}},"/api/exchanger/delete/setting":{"post":{"tags":["exchanger-controller"],"operationId":"deleteExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchanger/delete/payment-method/from/exchanger-settings":{"post":{"tags":["exchanger-controller"],"operationId":"deletePaymentMethodFromExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsDeleteModel"}}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/rating":{"post":{"tags":["exchange-controller"],"operationId":"rating","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRatingModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/get/trx/energy":{"post":{"tags":["exchange-controller"],"operationId":"getBandWidth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItrxRequestEnergyModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/filter":{"post":{"tags":["exchange-controller"],"operationId":"getExchangesFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangeModel"}}}}}}}},"/api/exchange/exchanger/verify/reserve":{"post":{"tags":["exchange-controller"],"operationId":"exchangerVerifyReserve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SaveResponseModel"}}}}}}}},"/api/exchange/exchanger/send/safe":{"post":{"tags":["exchange-controller"],"operationId":"retrieveExchangerSafe","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveSafeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/send/fiat":{"post":{"tags":["exchange-controller"],"operationId":"exchangerSendFiat","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerSendFiatRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/send/crypto":{"post":{"tags":["exchange-controller"],"operationId":"exchangerSendCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerSendCryptoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/resend/crypto":{"post":{"tags":["exchange-controller"],"operationId":"exchangerResendCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerResendCryptoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/cancel/transaction":{"post":{"tags":["exchange-controller"],"operationId":"exchangerCancelTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/dispute":{"post":{"tags":["exchange-controller"],"operationId":"dispute","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/create/fiat/crypto":{"post":{"tags":["exchange-controller"],"operationId":"createFiatCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedExchangeModel"}}}}}}},"/api/exchange/create/crypto/fiat":{"post":{"tags":["exchange-controller"],"operationId":"createCryptoFiat","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExchangeFiatModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedExchangeModel"}}}}}}},"/api/exchange/create/crypto/crypto":{"post":{"tags":["exchange-controller"],"operationId":"createCryptoCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedExchangeModel"}}}}}}},"/api/exchange/client/send/safe":{"post":{"tags":["exchange-controller"],"operationId":"retrieveClientSafe","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveSafeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/client/send/fiat":{"post":{"tags":["exchange-controller"],"operationId":"confirmClientTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/client/send/crypto":{"post":{"tags":["exchange-controller"],"operationId":"clientSendCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientSendCryptoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/client/confirm/fiat":{"post":{"tags":["exchange-controller"],"operationId":"clientConfirmCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/client/cancel/transaction":{"post":{"tags":["exchange-controller"],"operationId":"clientCancelTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/exchange/appeal":{"post":{"tags":["exchange-controller"],"operationId":"appeal","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK"}}}},"/api/chat/unread":{"post":{"tags":["chat-controller"],"operationId":"unread","parameters":[{"name":"exchangeId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/chat/save":{"post":{"tags":["chat-controller"],"operationId":"save_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/atomic/swap/claim":{"post":{"tags":["atomic-swap-controller"],"operationId":"getStatistics_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimSwapOwnerModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/aml/transaction":{"post":{"tags":["aml-controller"],"operationId":"checkTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlTransactionRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/aml/exchange":{"post":{"tags":["aml-controller"],"operationId":"checkExchange","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlExchangeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/aml/address":{"post":{"tags":["aml-controller"],"operationId":"checkAddress","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlAddressRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/utils/tx/by/addr":{"get":{"tags":["utils-controller"],"operationId":"getBtcTxsByAddress","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}}}}},"/public/tariff":{"get":{"tags":["tariff-controller"],"operationId":"listAll","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TariffModel"}}}}}}}},"/public/settings":{"get":{"tags":["settings-controller"],"operationId":"getSettings","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SettingsModel"}}}}}}},"/public/review/by/exchanger":{"get":{"tags":["review-controller"],"operationId":"getByExchangerId","parameters":[{"name":"exchangerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewModel"}}}}}}}},"/public/review/by/exchange":{"get":{"tags":["review-controller"],"operationId":"getByExchangeId","parameters":[{"name":"exchangeId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewModel"}}}}}}},"/public/review/by/client":{"get":{"tags":["review-controller"],"operationId":"getByClientId","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewModel"}}}}}}}},"/public/provider/coins":{"get":{"tags":["provider-controller"],"operationId":"listCoins","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoinModel"}}}}}}}},"/public/payment/dex/order/info":{"get":{"tags":["payments-public-controller"],"operationId":"createCryptoCrypto_1","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentOrderResponseModel"}}}}}}},"/public/image/{id}":{"get":{"tags":["image-controller"],"operationId":"list","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/public/exchanger/is/active":{"get":{"tags":["exchanger-public-controller"],"operationId":"isExchangerActive","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/public/exchanger/is/active/by/settings":{"get":{"tags":["exchanger-public-controller"],"operationId":"isExchangerActiveBySettings","parameters":[{"name":"settingsId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/public/exchanger/is/active/by/session":{"get":{"tags":["exchanger-public-controller"],"operationId":"isExchangerActiveBySession","parameters":[{"name":"session","in":"query","required":true,"schema":{"type":"string"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSessionInfoModel"}}}}}}},"/public/exchanger/byId":{"get":{"tags":["exchanger-public-controller"],"operationId":"getById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}},"/public/chat/{identifier}":{"get":{"tags":["chat-public-controller"],"operationId":"list_1","parameters":[{"name":"identifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/public/avatar/{userId}":{"get":{"tags":["avatar-controller"],"operationId":"list_2","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/user/sessions":{"get":{"tags":["user-controller"],"operationId":"getSession","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSessionModel"}}}}}}}},"/api/user/current":{"get":{"tags":["user-controller"],"operationId":"current","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserModel"}}}}}}},"/api/tariff/limit":{"get":{"tags":["user-tariff-controller"],"operationId":"limit","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserTariffModel"}}}}}}},"/api/payment":{"get":{"tags":["payments-controller"],"operationId":"getByUserId","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentInfoModel"}}}}}}}},"/api/payment/prices":{"get":{"tags":["payments-controller"],"operationId":"getPrices","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentPricesModel"}}}}}}},"/api/payment/networks":{"get":{"tags":["payments-controller"],"operationId":"listAllNetworks","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ethereum","binance_smart_chain","tron","bitcoin"]}}}}}}}},"/api/payment/methods/currencies":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllCurrency","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodCurrencyModel"}}}}}}}},"/api/payment/methods/currencies/by/country/{countryId}":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllCurrencyByCountryId","parameters":[{"name":"countryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodCurrencyModel"}}}}}}}},"/api/payment/methods/countries":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllCountry","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryDictModel"}}}}}}}},"/api/payment/methods/by/user":{"get":{"tags":["payment-methods-controller"],"operationId":"listAll_1","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsModel"}}}}}}}},"/api/payment/methods/by/currency/{currency}":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllBankByCurrencyId","parameters":[{"name":"currency","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankDictModel"}}}}}}}},"/api/payment/methods/by/country/{countryId}":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllBankByCountryId","parameters":[{"name":"countryId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankDictModel"}}}}}}}},"/api/payment/currencies":{"get":{"tags":["payments-controller"],"operationId":"listAllCurrencies","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ETH","BNB","TRX","BTC","USDT"]}}}}}}}},"/api/payment/address":{"get":{"tags":["payments-controller"],"operationId":"createAddress","parameters":[{"name":"network","in":"query","required":true,"schema":{"type":"string","enum":["ethereum","binance_smart_chain","tron","bitcoin"]}},{"name":"currency","in":"query","required":true,"schema":{"type":"string","enum":["ETH","BNB","TRX","BTC","USDT"]}},{"name":"tariffId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/kyc":{"get":{"tags":["kyc-controller"],"operationId":"getKycInfo","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KycModel"}}}}}}},"/api/kyc/form":{"get":{"tags":["kyc-controller"],"operationId":"getFormLink","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/keys":{"get":{"tags":["api-key-controller"],"operationId":"getNewApiKey","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceApiKeyModel"}}}}}}}},"/api/exchanger/settings":{"get":{"tags":["exchanger-controller"],"operationId":"getUserSettingsByUserId","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}}},"/api/exchanger/settings/{id}":{"get":{"tags":["exchanger-controller"],"operationId":"getUserSettingsById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}},"/api/exchanger/settings/status":{"get":{"tags":["exchanger-controller"],"operationId":"getSettingsStatus","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerMinModel"}}}}}}}},"/api/exchanger/networks":{"get":{"tags":["exchanger-controller"],"operationId":"getNetworks","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdNetworkModel"}}}}}}}},"/api/exchange/byId":{"get":{"tags":["exchange-controller"],"operationId":"getExchangeById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeModel"}}}}}}},"/api/exchange/active/count":{"get":{"tags":["exchange-controller"],"operationId":"getExchangesActiveCount","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/coin-pairs/pairs/by/currency":{"get":{"tags":["pairs-controller"],"operationId":"listCurrencyByPair","parameters":[{"name":"currency","in":"query","required":true,"schema":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoinPairsModel"}}}}}}}},"/api/coin-pairs/currencies/by/pair":{"get":{"tags":["pairs-controller"],"operationId":"listCurrencyByPair_1","parameters":[{"name":"nameFrom","in":"query","required":true,"schema":{"type":"string"}},{"name":"nameTo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CoinPairsAggregatorsModel"}}}}}}},"/api/coin-pairs/by/currency-and-pair":{"get":{"tags":["pairs-controller"],"operationId":"getByAggregatorAndPair_1","parameters":[{"name":"currencies","in":"query","required":true,"schema":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]}},{"name":"nameFrom","in":"query","required":true,"schema":{"type":"string"}},{"name":"nameTo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CoinPairsModel"}}}}}}},"/api/coin-pairs/all/currencies":{"get":{"tags":["pairs-controller"],"operationId":"listAllCurrencies_1","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]}}}}}}}}},"components":{"schemas":{"ZealyAccountsModel":{"type":"object","properties":{"email":{"type":"string"},"wallet":{"type":"string"},"discord":{"$ref":"#/components/schemas/ZealyDiscordModel"},"twitter":{"$ref":"#/components/schemas/ZealyTwitterModel"},"zealy-connect":{"type":"string"}}},"ZealyAuthRequestModel":{"type":"object","properties":{"userId":{"type":"string"},"communityId":{"type":"string"},"subdomain":{"type":"string"},"questId":{"type":"string"},"requestId":{"type":"string"},"accounts":{"$ref":"#/components/schemas/ZealyAccountsModel"}}},"ZealyDiscordModel":{"type":"object","properties":{"id":{"type":"string"},"handle":{"type":"string"}}},"ZealyTwitterModel":{"type":"object","properties":{"id":{"type":"string"},"username":{"type":"string"}}},"UtilsUTXORequestModel":{"type":"object","properties":{"address":{"type":"string"},"currency":{"type":"string","enum":["ETH","BNB","TRX","BTC","USDT"]},"sortedValuesByKeyAsString":{"type":"string"}}},"UtilsUTXODataModel":{"type":"object","properties":{"txid":{"type":"string"},"vout":{"type":"integer","format":"int64"},"amount":{"type":"number"}}},"UtilsUTXOResponseModel":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/UtilsUTXODataModel"}}}},"ItrxRequestEnergyModel":{"type":"object","properties":{"address":{"type":"string"}}},"ProviderUserUpdateModel":{"type":"object","properties":{"projectName":{"type":"string"},"userId":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"CoinUpdateModel":{"type":"object","properties":{"coinId":{"type":"integer","format":"int64"},"ticker":{"type":"string"},"tokenName":{"type":"string"},"uuid":{"type":"string"},"networkType":{"type":"string"},"networkName":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"reserve":{"type":"number"}}},"ProviderReserveUpdateModel":{"type":"object","properties":{"projectName":{"type":"string"},"userId":{"type":"integer","format":"int64"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]},"coin":{"$ref":"#/components/schemas/CoinUpdateModel"}}},"ProviderExchangerSettingsStatusRequestModel":{"type":"object","properties":{"projectName":{"type":"string"},"exchangerSettingsId":{"type":"integer","format":"int64"},"status":{"type":"boolean"},"userId":{"type":"integer","format":"int64"}}},"CoinCreateModel":{"type":"object","properties":{"ticker":{"type":"string"},"tokenName":{"type":"string"},"uuid":{"type":"string"},"networkType":{"type":"string"},"networkName":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"reserve":{"type":"number"}}},"CoinPairsCreateModel":{"type":"object","properties":{"currencyAggregator":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]},"price":{"type":"number"}}},"ProviderOptionalExchangerSettingsModel":{"type":"object","properties":{"minimumExchangeAmountCoin1":{"type":"number"},"maximumExchangeAmountCoin1":{"type":"number"},"priceAdjustment":{"type":"number"},"transactionFee":{"type":"number"},"active":{"type":"boolean"},"amlRiskLimit":{"type":"number","format":"double"},"slippage":{"type":"number","format":"double"},"reserveLimitation":{"type":"number"},"timeToPay":{"type":"integer","format":"int64"},"tradeWithKycUsers":{"type":"boolean"}}},"ProviderUserExchangerSettingsUpdateModel":{"type":"object","properties":{"projectName":{"type":"string"},"exchangerSettingsId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]},"fromCoin":{"$ref":"#/components/schemas/CoinCreateModel"},"toCoin":{"$ref":"#/components/schemas/CoinCreateModel"},"coinPair":{"$ref":"#/components/schemas/CoinPairsCreateModel"},"exchangersPolicy":{"type":"string"},"optionalSettings":{"$ref":"#/components/schemas/ProviderOptionalExchangerSettingsModel"},"pairId":{"type":"integer","format":"int64"},"direction":{"type":"integer","format":"int32"}}},"ProviderExchangerSettingsResponseModel":{"type":"object","properties":{"exchangerSettingsId":{"type":"integer","format":"int64"},"reversedExchangerSettingsId":{"type":"integer","format":"int64"}}},"ProviderExchangerSettingsListRequestModel":{"type":"object","properties":{"projectName":{"type":"string"},"userId":{"type":"integer","format":"int64"}}},"BankDictModel":{"type":"object","properties":{"paymentMethodId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"fields":{"type":"array","items":{"$ref":"#/components/schemas/BankFieldsInfoModel"}}}},"BankFieldsInfoModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"contentType":{"type":"string","enum":["ADDITIONAL_INFO","ADDITIONAL_INFO_WITH_TITLE","CARD_NUMBER","IBAN","BAN","IBAN_OR_CARD_NUMBER","EMAIL","NUMBER_ONLY","IMAGE_QR","LAST_4_DIGITS","PHONE","USERNAME","FULL_NAME","BANK_NAME","ACCOUNT_OPENING_DEPARTMENT"]},"fieldType":{"type":"string","enum":["TEXT_AREA","TEXT_FIELD","IMAGE"]},"required":{"type":"boolean"},"validate":{"type":"boolean"}}},"CoinModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"ticker":{"type":"string"},"tokenName":{"type":"string"},"uuid":{"type":"string"},"networkType":{"type":"string"},"networkName":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"networkId":{"type":"integer","format":"int64"}}},"CoinPairsModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"pair":{"type":"string"},"idFrom":{"type":"string"},"idTo":{"type":"string"},"nameFrom":{"type":"string"},"nameTo":{"type":"string"},"originalPrice":{"type":"number"},"price":{"type":"number"},"priceInCoin2":{"type":"number"},"priceCoin1InUsdt":{"type":"number"},"priceCoin2InUsdt":{"type":"number"},"currencyAggregator":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]},"flipped":{"type":"boolean"},"parentId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"dexpayPairId":{"type":"integer","format":"int64"}}},"CountryDictModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"iso":{"type":"string"},"name":{"type":"string"}}},"ExchangerSettingsInfoModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"active":{"type":"boolean"},"priceAdjustment":{"type":"number"},"transactionFee":{"type":"number"},"walletAddress":{"type":"string"},"walletAddressInNetwork2":{"type":"string"},"coinPair":{"$ref":"#/components/schemas/CoinPairsModel"},"from":{"$ref":"#/components/schemas/CoinModel"},"to":{"$ref":"#/components/schemas/CoinModel"},"reserve":{"type":"array","items":{"$ref":"#/components/schemas/ReserveModel"}},"reserveSum":{"type":"number"},"priceCoin1InCoin2":{"type":"number"},"minimumExchangeAmountCoin1":{"type":"number"},"minimumExchangeAmountCoin2":{"type":"number"},"maximumExchangeAmountCoin1":{"type":"number"},"maximumExchangeAmountCoin2":{"type":"number"},"reserveLimitation":{"type":"number"},"timeToPay":{"type":"integer","format":"int64"},"exchangersPolicy":{"type":"string"},"paymentMethods":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsModel"}},"statistic":{"$ref":"#/components/schemas/StatisticModel"},"isAtomicSwap":{"type":"boolean"},"timeToRefund":{"type":"integer","format":"int64"},"slippage":{"type":"number","format":"double"},"lastActive":{"type":"integer","format":"int64"},"amlRiskLimit":{"type":"number","format":"double"},"officialMerchant":{"type":"boolean"},"tradeWithKycUsers":{"type":"boolean"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]},"pairId":{"type":"integer","format":"int64"},"direction":{"type":"integer","format":"int32"},"cdt":{"type":"integer","format":"int64"}}},"PaymentMethodCurrencyModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"iso":{"type":"string"},"name":{"type":"string"}}},"PaymentMethodsModel":{"type":"object","properties":{"userPaymentMethodId":{"type":"integer","format":"int64"},"paymentMethod":{"$ref":"#/components/schemas/BankDictModel"},"currency":{"$ref":"#/components/schemas/PaymentMethodCurrencyModel"},"country":{"$ref":"#/components/schemas/CountryDictModel"},"balance":{"type":"number"},"balanceIsRequired":{"type":"boolean"},"userId":{"type":"integer","format":"int64"},"data":{"type":"string"}}},"ReserveModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"coin":{"$ref":"#/components/schemas/CoinModel"},"reserveInCoin1":{"type":"number"},"reserveInCoin2":{"type":"number"},"reservedAmount":{"type":"number"},"walletAddress":{"type":"string"},"userId":{"type":"integer","format":"int64"}}},"StatisticModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"transactionCount":{"type":"integer","format":"int64"},"amountInCoinFrom":{"type":"number"},"amountInCoinTo":{"type":"number"},"amountInUsdt":{"type":"number"},"amountInBTC":{"type":"number"},"amountInETH":{"type":"number"},"exchangeId":{"type":"string","format":"uuid"},"cdt":{"type":"string","format":"date-time"}}},"ProviderExchangerSettingsRequestModel":{"type":"object","properties":{"projectName":{"type":"string"},"exchangerSettingsId":{"type":"integer","format":"int64"}}},"ProviderUserExchangerSettingsDeleteModel":{"type":"object","properties":{"projectName":{"type":"string"},"exchangerSettingsId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]}}},"ProviderUserCreateModel":{"type":"object","properties":{"projectName":{"type":"string"},"name":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"}}},"ProviderUserResponseModel":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"}}},"ProviderUserExchangerSettingsCreateModel":{"type":"object","properties":{"projectName":{"type":"string"},"userId":{"type":"integer","format":"int64"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]},"fromCoin":{"$ref":"#/components/schemas/CoinCreateModel"},"toCoin":{"$ref":"#/components/schemas/CoinCreateModel"},"coinPair":{"$ref":"#/components/schemas/CoinPairsCreateModel"},"createReversedPair":{"type":"boolean"},"exchangersPolicy":{"type":"string"},"optionalSettings":{"$ref":"#/components/schemas/ProviderOptionalExchangerSettingsModel"},"reversedOptionalSettings":{"$ref":"#/components/schemas/ProviderOptionalExchangerSettingsModel"},"pairId":{"type":"integer","format":"int64"}}},"PriceResponseModel":{"type":"object","properties":{"last_updated":{"type":"integer","format":"int64"},"price_change_24h":{"type":"integer","format":"int64"},"price":{"type":"number"},"uid":{"type":"string"}}},"PaymentCallBackModel":{"type":"object","properties":{"event_type":{"type":"string"},"payload":{"type":"array","items":{"$ref":"#/components/schemas/PaymentPayloadModel"}}}},"PaymentCurrencyModel":{"type":"object","properties":{"iso":{"type":"string"}}},"PaymentPayloadModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"string"},"txid":{"type":"string"},"type":{"type":"string"},"from_address":{"type":"string"},"to_address":{"type":"string"},"confirmations":{"type":"integer","format":"int32"},"blockchain_status":{"type":"integer","format":"int32"},"status":{"type":"integer","format":"int32"},"network_fee":{"type":"string"},"user":{"$ref":"#/components/schemas/PaymentPayloadUserModel"},"currency":{"$ref":"#/components/schemas/PaymentCurrencyModel"}}},"PaymentPayloadUserModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"external_id":{"type":"string"},"project_id":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int64"}}},"ExchangeModel":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"isExchanger":{"type":"boolean"},"isClient":{"type":"boolean"},"clientPaymentMethod":{"$ref":"#/components/schemas/PaymentMethodsModel"},"exchangerPaymentMethod":{"$ref":"#/components/schemas/PaymentMethodsModel"},"exchangerId":{"type":"integer","format":"int64"},"exchangerName":{"type":"string"},"exchangerWalletAddress":{"type":"string"},"exchangerWalletAddressInNetwork2":{"type":"string"},"exchangerSentAmount":{"type":"number"},"exchangerFee":{"type":"number"},"exchangerTransactionHash":{"type":"string"},"exchangerTransactionStatus":{"type":"string","enum":["PENDING","FAILED","SEND","CONFIRMED","IN_PROGRESS"]},"exchangerTransactionCdt":{"type":"integer","format":"int64"},"clientId":{"type":"integer","format":"int64"},"clientWalletAddress":{"type":"string"},"clientWalletAddressInNetwork2":{"type":"string"},"clientSentFromAddress":{"type":"string"},"clientSentAmount":{"type":"number"},"clientTransactionHash":{"type":"string"},"clientTransactionStatus":{"type":"string","enum":["PENDING","FAILED","SEND","CONFIRMED","IN_PROGRESS"]},"clientTransactionCdt":{"type":"integer","format":"int64"},"coinPair":{"$ref":"#/components/schemas/CoinPairsModel"},"amount1":{"type":"number"},"amount2":{"type":"number"},"priceAdjustment":{"type":"number"},"transactionFee":{"type":"number"},"status":{"type":"string","enum":["WAIT_EXCHANGER_VERIFY","NEW","EXPIRED","CLIENT_TRANSACTION_FAILED","EXCHANGER_TRANSACTION_FAILED","CLIENT_TRANSACTION_VERIFY","EXCHANGER_TRANSACTION_VERIFY","WAIT_EXCHANGER_TRANSFER","VERIFIED","COMPLETED","CANCELED","DISPUTE"]},"fromTicker":{"type":"string"},"fromNetworkType":{"type":"string"},"toTicker":{"type":"string"},"toNetworkType":{"type":"string"},"fromAggregator":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]},"toAggregator":{"type":"string","enum":["BINANCE","CRYPTO_COMPARE","COIN_MARKET_CUP","DEXPAY","COIN_GECKO","FIXED_PRICE"]},"exchangerBlockChain":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"clientBlockChain":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"exchangerSettings":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"},"statistic":{"$ref":"#/components/schemas/StatisticModel"},"statusHistory":{"type":"array","items":{"$ref":"#/components/schemas/StatusHistoryModel"}},"cdt":{"type":"integer","format":"int64"},"clientSessionId":{"$ref":"#/components/schemas/UserSessionModel"},"exchangerSessionId":{"$ref":"#/components/schemas/UserSessionModel"},"clientSlippage":{"type":"number","format":"double"},"exchangerConfirmedAmount":{"type":"number"},"clientRating":{"$ref":"#/components/schemas/RatingModel"},"exchangerRating":{"$ref":"#/components/schemas/RatingModel"},"unread":{"type":"integer","format":"int64"},"clientParams":{"type":"string"},"exchangerParams":{"type":"string"},"clientTransactionRiskScore":{"type":"number","format":"double"},"clientSentFromAddressRiskScore":{"type":"number","format":"double"},"clientSafe":{"$ref":"#/components/schemas/SafeModel"},"exchangerSafe":{"$ref":"#/components/schemas/SafeModel"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]}}},"RatingModel":{"type":"object","properties":{"positive":{"type":"boolean"},"feedback":{"type":"string"},"cdt":{"type":"integer","format":"int64"}}},"SafeModel":{"type":"object","properties":{"transactionHash":{"type":"string"},"address":{"type":"string"},"amount":{"type":"number"},"vout":{"type":"integer","format":"int32"}}},"StatusHistoryModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"exchangeId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["WAIT_EXCHANGER_VERIFY","NEW","EXPIRED","CLIENT_TRANSACTION_FAILED","EXCHANGER_TRANSACTION_FAILED","CLIENT_TRANSACTION_VERIFY","EXCHANGER_TRANSACTION_VERIFY","WAIT_EXCHANGER_TRANSFER","VERIFIED","COMPLETED","CANCELED","DISPUTE"]},"cdt":{"type":"integer","format":"int64"}}},"UserSessionModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"sessionId":{"type":"string"},"name":{"type":"string"},"deviceId":{"type":"string"},"apiKey":{"type":"string"},"lastActive":{"type":"integer","format":"int64"},"created":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["ACTIVE","OFFLINE"]}}},"ExchangerFilterModel":{"type":"object","properties":{"fromTicker":{"type":"string"},"fromNetworkType":{"type":"string"},"fromNetworkName":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"orderBy":{"type":"string","enum":["BY_PRICE","BY_RATING","BY_RESERVE"]},"toTicker":{"type":"string"},"toNetworkType":{"type":"string"},"toNetworkName":{"type":"string","enum":["ethereum","tron","the_open_network","binance_smart_chain","binance_chain","polygon","optimism","gnosis","fantom","avalanche","solana","bitcoin","elrond","litecoin","dash","dogecoin","zcash","ecash","bitcoin_cash","fiat","arbitrumOne","xdc_network"]},"amountInCoin1":{"type":"number"},"rating":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int64"},"searchUserId":{"type":"integer","format":"int64"},"notSupportedCoins":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"page":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"}}},"ExchangerModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"coinId":{"type":"integer","format":"int64"},"coinFromId":{"type":"integer","format":"int64"},"timeToPay":{"type":"integer","format":"int64"},"reserveLimitation":{"type":"number"},"paymentMethods":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsModel"}},"priceInCoin2":{"type":"number"},"reserve":{"type":"array","items":{"$ref":"#/components/schemas/ReserveModel"}},"reserveSum":{"type":"number"},"feeInCoin1":{"type":"number"},"transactionFee":{"type":"number"},"priceAdjustment":{"type":"number"},"minimumExchangeAmountCoin1":{"type":"number"},"minimumExchangeAmountCoin2":{"type":"number"},"maximumExchangeAmountCoin1":{"type":"number"},"maximumExchangeAmountCoin2":{"type":"number"},"avatar":{"type":"string"},"name":{"type":"string"},"walletAddress":{"type":"string"},"walletAddressInNetwork2":{"type":"string"},"rating":{"$ref":"#/components/schemas/TotalRatingResponseModel"},"feedbacks":{"type":"array","items":{"$ref":"#/components/schemas/UserRatingInfoModel"}},"exchangeCount":{"type":"integer","format":"int32"},"exchangeCompletionRate":{"type":"number","format":"double"},"exchangeMonthlyCount":{"type":"integer","format":"int32"},"exchangeMonthlyCompletionRate":{"type":"number","format":"double"},"fromCoin":{"$ref":"#/components/schemas/CoinModel"},"toCoin":{"$ref":"#/components/schemas/CoinModel"},"lastActive":{"type":"integer","format":"int64"},"currentUserExchanger":{"type":"boolean"},"userId":{"type":"integer","format":"int64"},"coinPair":{"$ref":"#/components/schemas/CoinPairsModel"},"exchangersPolicy":{"type":"string"},"isAtomicSwap":{"type":"boolean"},"timeToRefund":{"type":"integer","format":"int64"},"isKycVerified":{"type":"boolean"},"amlRiskLimit":{"type":"number","format":"double"},"daysSinceRegistration":{"type":"integer","format":"int32"},"daysSinceFirstExchange":{"type":"integer","format":"int32"},"counterpartiesCount":{"type":"integer","format":"int32"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]},"officialMerchant":{"type":"boolean"},"hasReversed":{"type":"boolean"},"exchangerActive":{"type":"boolean"}}},"TotalRatingResponseModel":{"type":"object","properties":{"positive":{"type":"integer","format":"int64"},"negative":{"type":"integer","format":"int64"},"totalRating":{"type":"number","format":"double"}}},"UserRatingInfoModel":{"type":"object","properties":{"email":{"type":"string"},"cdt":{"type":"string","format":"date-time"},"feedback":{"type":"string"},"positive":{"type":"boolean"}}},"TronScanBroadcastRequestModel":{"type":"object","properties":{"tx":{"type":"string"},"senderAddress":{"type":"string"}}},"AuthRequestModel":{"type":"object","properties":{"mnemonicHash":{"type":"string"},"masterPublicKey":{"type":"string"},"deviceId":{"type":"string"},"deviceToken":{"type":"string"},"signature":{"type":"string"},"publicKey":{"type":"string"},"name":{"type":"string"}}},"AuthResponseModel":{"type":"object","properties":{"apikey":{"type":"string"},"startSocket":{"type":"boolean"},"hasExchanger":{"type":"boolean"}}},"ExchangerInfoModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"rating":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int64"}}},"UserModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"avatar":{"type":"string"},"active":{"type":"boolean"},"exchangerSettings":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}},"userInfo":{"$ref":"#/components/schemas/ExchangerInfoModel"},"startSocket":{"type":"boolean"},"hasExchanger":{"type":"boolean"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"provider":{"type":"string","enum":["DEXTRADE","EXOLIX","PANCAKE","UNISWAP","DEXPAY"]},"rating":{"$ref":"#/components/schemas/TotalRatingResponseModel"},"exchangeCount":{"type":"integer","format":"int32"},"exchangeCompletionRate":{"type":"number","format":"double"}}},"IdNameModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"AvatarModel":{"type":"object","properties":{"avatar":{"type":"string"}}},"DeviceIdRequestModel":{"type":"object","properties":{"deviceId":{"type":"string"}}},"TestModel":{"type":"object","properties":{"data":{"type":"string"}}},"StatisticRequestModel":{"type":"object","properties":{"startTimestamp":{"type":"integer","format":"int64"},"endTimestamp":{"type":"integer","format":"int64"},"ticker":{"type":"string"}}},"StatisticResponseModel":{"type":"object","properties":{"totalInUSDT":{"type":"number"},"totalInBTC":{"type":"number"},"totalInETH":{"type":"number"},"transactionCount":{"type":"integer","format":"int64"},"statistics":{"type":"array","items":{"$ref":"#/components/schemas/StatisticModel"}}}},"PaymentMethodsCreateModel":{"type":"object","properties":{"userPaymentMethodId":{"type":"integer","format":"int64"},"paymentMethodId":{"type":"integer","format":"int64"},"currency":{"type":"string"},"userId":{"type":"integer","format":"int64"},"balance":{"type":"number"},"data":{"type":"string"}}},"PaymentBalanceUpdateModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"balance":{"type":"number"}}},"IdRequestModel":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}}},"PaymentCreateExchangeRequestModel":{"type":"object","properties":{"addressTo":{"type":"string"},"senderAddress":{"type":"string"},"exchangeId":{"type":"string","format":"uuid"},"rate":{"type":"integer"},"amountFrom":{"type":"number"},"fromTicker":{"type":"string"},"toTicker"
[...]
