{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.dextrade.com","description":"Generated server url"}],"paths":{"/public/zealy/task":{"post":{"tags":["zealy-controller"],"operationId":"task","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilMain":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilMain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilMainBuyOrSell":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilMainBuyOrSell","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilBonus":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilBonus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhilBonusBuyOrSell":{"post":{"tags":["zealy-controller"],"operationId":"taskPhilBonusBuyOrSell","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhil60":{"post":{"tags":["zealy-controller"],"operationId":"taskPhil60USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhil5":{"post":{"tags":["zealy-controller"],"operationId":"taskPhil5USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhil20":{"post":{"tags":["zealy-controller"],"operationId":"taskPhil20USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhil10":{"post":{"tags":["zealy-controller"],"operationId":"taskPhil10USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskPhil100":{"post":{"tags":["zealy-controller"],"operationId":"taskPhil100USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskMew50":{"post":{"tags":["zealy-controller"],"operationId":"taskMew50USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskMew20":{"post":{"tags":["zealy-controller"],"operationId":"taskMew20USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskMew100":{"post":{"tags":["zealy-controller"],"operationId":"taskMew100USD","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/zealy/taskDextradeCom":{"post":{"tags":["zealy-controller"],"operationId":"task2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZealyAuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/utils/utxo":{"post":{"tags":["utils-controller"],"operationId":"getUtxo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UtilsUTXORequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UtilsUTXOResponseModel"}}}}}}},"/public/utils/coin-pairs/init":{"post":{"tags":["utils-controller"],"operationId":"init","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/uniswap/createAd":{"post":{"tags":["uniswap-controller"],"operationId":"createAd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/test/without-body":{"post":{"tags":["test-controller"],"operationId":"testWithoutBody","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/test/with-body":{"post":{"tags":["test-controller"],"operationId":"testWithBody","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/swapkit/sendEthBtc":{"post":{"tags":["swap-kit-controller"],"operationId":"sendEthBtcTest","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SwapKitQuoteResponseModel"}}}}}}},"/public/swapkit/quote":{"post":{"tags":["swap-kit-controller"],"operationId":"getQuote","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapKitQuoteRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SwapKitQuoteResponseModel"}}}}}}},"/public/swapkit/createAd":{"post":{"tags":["swap-kit-controller"],"operationId":"createAd_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/swapkit/create/get-swapkit-data":{"post":{"tags":["swap-kit-controller"],"operationId":"getSwapKitDataForNewTrade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapKitNewTradeByAdIdModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Route"}}}}}}},"/public/swapkit/create/get-swapkit-data/by/coins":{"post":{"tags":["swap-kit-controller"],"operationId":"getSwapKitDataForNewTrade_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapKitNewTradeByCoinsModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Route"}}}}}}},"/public/push":{"post":{"tags":["push-controller"],"operationId":"sendPush","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/push/web":{"post":{"tags":["push-controller"],"operationId":"sendWeb","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/push/ios":{"post":{"tags":["push-controller"],"operationId":"sendIos","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"backgroundPush","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/push/ios/dev":{"post":{"tags":["push-controller"],"operationId":"sendIosDev","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"backgroundPush","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/push/android":{"post":{"tags":["push-controller"],"operationId":"sendAndroid","parameters":[{"name":"title","in":"query","required":true,"schema":{"type":"string"}},{"name":"mnemonicHash","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/update/user":{"post":{"tags":["provider-controller"],"operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/update/user/avatar/upload":{"post":{"tags":["provider-controller"],"operationId":"saveAvatar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserAvatarModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"uuid"}}}}}}},"/public/provider/update/reserve/v2":{"post":{"tags":["provider-controller"],"operationId":"updateReserveV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderReserveUpdateModelV2"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/update/reserve/list":{"post":{"tags":["provider-controller"],"operationId":"updateReserveList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderReserveListUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderReserveBatchResponseModel"}}}}}}},"/public/provider/update/reserve/":{"post":{"tags":["provider-controller"],"operationId":"updateReserve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderReserveUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/update/exchanger-settings/status":{"post":{"tags":["provider-controller"],"operationId":"updateExchangerSettingsStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsStatusRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/update/exchanger-settings/status/list":{"post":{"tags":["provider-controller"],"operationId":"updateExchangerSettingsStatusList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsStatusListUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderAdStatusBatchResponseModel"}}}}}}},"/public/provider/update/exchanger-settings/":{"post":{"tags":["provider-controller"],"operationId":"updateExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/provider/test":{"post":{"tags":["provider-controller"],"operationId":"testDexPayPairPrices","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/push/new-external-signer-task":{"post":{"tags":["provider-controller"],"operationId":"sendPushNewExternalSignerTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderPushExternalSignerTaskModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/exchanger-settings":{"post":{"tags":["provider-controller"],"operationId":"listExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsListRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}}},"/public/provider/exchanger-settings/v2":{"post":{"tags":["provider-controller"],"operationId":"listAdsPaginated","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsListRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaginatedAdListModel"}}}}}}},"/public/provider/exchanger-settings/byId":{"post":{"tags":["provider-controller"],"operationId":"getExchangerSettingsById","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}},"/public/provider/delete/exchanger-settings/":{"post":{"tags":["provider-controller"],"operationId":"deleteExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsDeleteModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/provider/create/user":{"post":{"tags":["provider-controller"],"operationId":"addUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderUserResponseModel"}}}}}}},"/public/provider/create/exchanger-settings":{"post":{"tags":["provider-controller"],"operationId":"addExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/provider/create/coin":{"post":{"tags":["provider-controller"],"operationId":"getOrCreateCoin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderCoinCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CoinModel"}}}}}}},"/public/price/by/uuids":{"post":{"tags":["price-controller"],"operationId":"getByAggregatorAndPair","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceResponseModel"}}}}}}}},"/public/payment/callback":{"post":{"tags":["payments-public-controller"],"operationId":"paymentCallback","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/pancakeswap/createAd":{"post":{"tags":["pancake-swap-controller"],"operationId":"createAd_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderUserExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderExchangerSettingsResponseModel"}}}}}}},"/public/monitoring/check/connection":{"post":{"tags":["monitoring-controller"],"operationId":"sendWss","parameters":[{"name":"apiKey","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/public/exchanger/filter":{"post":{"tags":["exchanger-public-controller"],"operationId":"getActiveExchangersByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}}},"/public/changelly/create":{"post":{"tags":["changelly-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangellyExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositData"}}}}}}},"/public/btse/callback/{id}":{"post":{"tags":["btse-controller"],"operationId":"paymentCallback_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BtseExchangeCallBackModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/public/auth":{"post":{"tags":["auth-controller"],"operationId":"auth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponseModel"}}}}}}},"/api/user/update":{"post":{"tags":["user-controller"],"operationId":"update","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/session/set/name":{"post":{"tags":["user-controller"],"operationId":"updateName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdNameModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/save/avatar":{"post":{"tags":["user-controller"],"operationId":"update_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvatarModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"uuid"}}}}}}},"/api/user/ping":{"post":{"tags":["user-controller"],"operationId":"ping","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/offline":{"post":{"tags":["user-controller"],"operationId":"offline","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/is/username/exist":{"post":{"tags":["user-controller"],"operationId":"isUsernameExist","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/user/delete":{"post":{"tags":["user-controller"],"operationId":"delete","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/delete/session":{"post":{"tags":["user-controller"],"operationId":"deleteSession","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/delete/avatar":{"post":{"tags":["user-controller"],"operationId":"deleteAvatar","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/add/device/id":{"post":{"tags":["user-controller"],"operationId":"addDeviceId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceIdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/user/activate":{"post":{"tags":["user-controller"],"operationId":"activate","parameters":[{"name":"force","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/statistics":{"post":{"tags":["statistics-controller"],"operationId":"getStatistics","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatisticResponseModel"}}}}}}},"/api/payment/methods":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllBanks","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankDictModel"}}}}}}},"post":{"tags":["payment-methods-controller"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/payment/methods/update":{"post":{"tags":["payment-methods-controller"],"operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentBalanceUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/payment/methods/update/list":{"post":{"tags":["payment-methods-controller"],"operationId":"updateList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentBalanceUpdateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/payment/methods/save/v2":{"post":{"tags":["payment-methods-controller"],"operationId":"saveV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodsCreateV2Model"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodsFullModel"}}}}}}},"/api/payment/methods/list":{"post":{"tags":["payment-methods-controller"],"operationId":"saveList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodsListCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsFullModel"}}}}}}}},"/api/payment/methods/delete":{"post":{"tags":["payment-methods-controller"],"operationId":"delete_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/payment/methods/bank":{"post":{"tags":["payment-methods-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankDictCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankDictCreateModel"}}}}}}},"/api/payment/fija/subscribe/address":{"post":{"tags":["payments-controller"],"operationId":"subscribeFijaAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FijaAddressRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/payment/exchange":{"post":{"tags":["payments-controller"],"operationId":"createExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentCreateExchangeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/payment/exchange/get-url":{"post":{"tags":["payments-controller"],"operationId":"createExchangeReturningPaymentPageURL","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentCreateExchangeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/payment/create-invoice":{"post":{"tags":["payments-controller"],"operationId":"getInvoiceByTariffId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceResponseModel"}}}}}}},"/api/keys/info":{"post":{"tags":["api-key-controller"],"operationId":"getStatistics_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceApiKeyInfoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceApiKeyRequestLimitModel"}}}}}}},"/api/fee/estimate":{"post":{"tags":["fee-controller"],"operationId":"estimate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeEstimateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer"}}}}}}},"/api/exchanger/status":{"post":{"tags":["exchanger-controller"],"operationId":"onOffSetting","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnOffSettingsRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchanger/save/settings":{"post":{"tags":["exchanger-controller"],"operationId":"saveExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsCreateModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdNameModel"}}}}}}},"/api/exchanger/save/settings/list":{"post":{"tags":["exchanger-controller"],"operationId":"saveExchangerSettingsList","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsCreateModel"}}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdNameModel"}}}}}}}},"/api/exchanger/return/deleted/setting":{"post":{"tags":["exchanger-controller"],"operationId":"restoreDeletedExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchanger/reserve":{"get":{"tags":["exchanger-controller"],"operationId":"reserveList","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReserveModel"}}}}}}},"post":{"tags":["exchanger-controller"],"operationId":"createReserve","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchanger/reserve/list":{"post":{"tags":["exchanger-controller"],"operationId":"createReserve_1","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReserveModel"}}}}}}}},"/api/exchanger/info":{"post":{"tags":["exchanger-controller"],"operationId":"getExchanger","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}},"/api/exchanger/filter":{"post":{"tags":["exchanger-controller"],"operationId":"getActiveExchangersByFilter_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}}},"/api/exchanger/filter/v2":{"post":{"tags":["exchanger-controller"],"operationId":"getActiveExchangersByFilterV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerModelMin"}}}}}}}},"/api/exchanger/filter/min":{"post":{"tags":["exchanger-controller"],"operationId":"getActiveExchangersByFilterMin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}}},"/api/exchanger/filter/byId":{"post":{"tags":["exchanger-controller"],"operationId":"getActiveExchangersByFilter_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerModel"}}}}}}},"/api/exchanger/delete/setting":{"post":{"tags":["exchanger-controller"],"operationId":"deleteExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchanger/delete/payment-method/from/exchanger-settings":{"post":{"tags":["exchanger-controller"],"operationId":"deletePaymentMethodFromExchangerSettings","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsDeleteModel"}}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchanger/chart":{"post":{"tags":["exchanger-controller"],"operationId":"getChart","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceHistoryChartRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/exchange/rating":{"post":{"tags":["exchange-controller"],"operationId":"rating","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRatingModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/get/trx/energy":{"post":{"tags":["exchange-controller"],"operationId":"getBandWidth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItrxRequestEnergyModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/filter":{"post":{"tags":["exchange-controller"],"operationId":"getExchangesFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeFilterModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangeModel"}}}}}}}},"/api/exchange/exchanger/verify/reserve":{"post":{"tags":["exchange-controller"],"operationId":"exchangerVerifyReserve","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReserveExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SaveResponseModel"}}}}}}}},"/api/exchange/exchanger/send/safe":{"post":{"tags":["exchange-controller"],"operationId":"retrieveExchangerSafe","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveSafeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/send/fiat":{"post":{"tags":["exchange-controller"],"operationId":"exchangerSendFiat","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerSendFiatRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/send/crypto":{"post":{"tags":["exchange-controller"],"operationId":"exchangerSendCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerSendCryptoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/resend/crypto":{"post":{"tags":["exchange-controller"],"operationId":"exchangerResendCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangerResendCryptoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/exchanger/cancel/transaction":{"post":{"tags":["exchange-controller"],"operationId":"exchangerCancelTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/estimate/fee/dexpay":{"post":{"tags":["exchange-controller"],"operationId":"getDexPayFee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DexPayEstimateFeeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DexPayFeeResponseModel"}}}}}}},"/api/exchange/dispute":{"post":{"tags":["exchange-controller"],"operationId":"dispute","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/create/get-swapkit-data":{"post":{"tags":["exchange-controller"],"operationId":"getSwapKitDataForNewTrade_2","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapKitNewTradeByAdIdModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Route"}}}}}}},"/api/exchange/create/get-swapkit-data/by/coins":{"post":{"tags":["exchange-controller"],"operationId":"getSwapKitDataForNewTrade_3","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapKitNewTradeByCoinsModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Route"}}}}}}},"/api/exchange/create/fiat/crypto":{"post":{"tags":["exchange-controller"],"operationId":"createFiatCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedExchangeModel"}}}}}}},"/api/exchange/create/crypto/fiat":{"post":{"tags":["exchange-controller"],"operationId":"createCryptoFiat","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExchangeFiatModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedExchangeModel"}}}}}}},"/api/exchange/create/crypto/crypto":{"post":{"tags":["exchange-controller"],"operationId":"createCryptoCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewExchangeModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedExchangeModel"}}}}}}},"/api/exchange/client/send/safe":{"post":{"tags":["exchange-controller"],"operationId":"retrieveClientSafe","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveSafeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/client/send/fiat":{"post":{"tags":["exchange-controller"],"operationId":"confirmClientTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/client/send/crypto":{"post":{"tags":["exchange-controller"],"operationId":"clientSendCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientSendCryptoRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/client/confirm/fiat":{"post":{"tags":["exchange-controller"],"operationId":"clientConfirmCrypto","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/client/cancel/transaction":{"post":{"tags":["exchange-controller"],"operationId":"clientCancelTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/exchange/appeal":{"post":{"tags":["exchange-controller"],"operationId":"appeal","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUIDRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK"}}}},"/api/chat/unread":{"post":{"tags":["chat-controller"],"operationId":"unread","parameters":[{"name":"exchangeId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/chat/save":{"post":{"tags":["chat-controller"],"operationId":"save_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/broadcast/trx":{"post":{"tags":["broadcast-controller"],"operationId":"broadcastTrx","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TronScanBroadcastRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/atomic/swap/claim":{"post":{"tags":["atomic-swap-controller"],"operationId":"getStatistics_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimSwapOwnerModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/aml/transaction":{"post":{"tags":["aml-controller"],"operationId":"checkTransaction","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlTransactionRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/aml/exchange":{"post":{"tags":["aml-controller"],"operationId":"checkExchange","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlExchangeRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/aml/address":{"post":{"tags":["aml-controller"],"operationId":"checkAddress","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmlAddressRequestModel"}}},"required":true},"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/utils/tx/by/addr":{"get":{"tags":["utils-controller"],"operationId":"getBtcTxsByAddress","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}}}}},"/public/utils/transak/networks":{"get":{"tags":["utils-controller"],"operationId":"getBandwidth","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BtseNetworksModel"}}}}}}}},"/public/utils/get/btc-tx/skeleton":{"get":{"tags":["utils-controller"],"operationId":"getBandwidth_1","parameters":[{"name":"pubKey","in":"query","required":true,"schema":{"type":"string"}},{"name":"toAddress","in":"query","required":true,"schema":{"type":"string"}},{"name":"amountBtc","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TxSkeletonModel"}}}}}}},"/public/test/greeting":{"get":{"tags":["test-controller"],"operationId":"getGreeting","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/test/error":{"get":{"tags":["test-controller"],"operationId":"throwException","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/test/error-within-exception":{"get":{"tags":["test-controller"],"operationId":"throwExceptionWithinException","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/test/error-with-code":{"get":{"tags":["test-controller"],"operationId":"throwExceptionWithErrorCode","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/test/aiwjdiruhgudrhgkdhg/exchange/byId":{"get":{"tags":["test-controller"],"operationId":"getExchangeById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeModel"}}}}}}},"/public/tariff":{"get":{"tags":["tariff-controller"],"operationId":"listAll","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TariffModel"}}}}}}}},"/public/swapkit/tokens":{"get":{"tags":["swap-kit-controller"],"operationId":"getTokens","parameters":[{"name":"provider","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/swapkit/providers":{"get":{"tags":["swap-kit-controller"],"operationId":"getProviders","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/settings":{"get":{"tags":["settings-controller"],"operationId":"getSettings","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SettingsModel"}}}}}}},"/public/review/by/exchanger":{"get":{"tags":["review-controller"],"operationId":"getByExchangerId","parameters":[{"name":"exchangerId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewModel"}}}}}}}},"/public/review/by/exchange":{"get":{"tags":["review-controller"],"operationId":"getByExchangeId","parameters":[{"name":"exchangeId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewModel"}}}}}}},"/public/review/by/client":{"get":{"tags":["review-controller"],"operationId":"getByClientId","parameters":[{"name":"clientId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewModel"}}}}}}}},"/public/provider/coins":{"get":{"tags":["provider-controller"],"operationId":"listCoins","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoinModel"}}}}}}}},"/public/payment/dex/order/info":{"get":{"tags":["payments-public-controller"],"operationId":"createCryptoCrypto_1","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentOrderResponseModel"}}}}}}},"/public/image/{id}":{"get":{"tags":["image-controller"],"operationId":"list","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/public/exchanger/is/active":{"get":{"tags":["exchanger-public-controller"],"operationId":"isExchangerActive","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/public/exchanger/is/active/by/settings":{"get":{"tags":["exchanger-public-controller"],"operationId":"isExchangerActiveBySettings","parameters":[{"name":"settingsId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/public/exchanger/is/active/by/session":{"get":{"tags":["exchanger-public-controller"],"operationId":"isExchangerActiveBySession","parameters":[{"name":"session","in":"query","required":true,"schema":{"type":"string"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSessionInfoModel"}}}}}}},"/public/exchanger/byId":{"get":{"tags":["exchanger-public-controller"],"operationId":"getById","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}},"/public/chat/{identifier}":{"get":{"tags":["chat-public-controller"],"operationId":"list_1","parameters":[{"name":"identifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/public/changelly/status":{"get":{"tags":["changelly-controller"],"operationId":"getPairs","parameters":[{"name":"externalId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataBlock"}}}}}}},"/public/changelly/pairs":{"get":{"tags":["changelly-controller"],"operationId":"getPairs_1","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","required":true,"schema":{"type":"string"}},{"name":"fromNetwork","in":"query","required":true,"schema":{"type":"string"}},{"name":"toNetwork","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CoinData"}}}}}}}},"/public/changelly/exchange/info":{"get":{"tags":["changelly-controller"],"operationId":"getExchangeInfo","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","required":true,"schema":{"type":"string"}},{"name":"fromNetwork","in":"query","required":true,"schema":{"type":"string"}},{"name":"toNetwork","in":"query","required":true,"schema":{"type":"string"}},{"name":"amount","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeData"}}}}}}},"/public/changelly/coins":{"get":{"tags":["changelly-controller"],"operationId":"getCoins","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProviderCoinsModel"}}}}}}}},"/public/avatar/{userId}":{"get":{"tags":["avatar-controller"],"operationId":"list_2","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/user/sessions":{"get":{"tags":["user-controller"],"operationId":"getSession","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSessionModel"}}}}}}}},"/api/user/current":{"get":{"tags":["user-controller"],"operationId":"current","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserModel"}}}}}}},"/api/user/current/full-name":{"get":{"tags":["user-controller"],"operationId":"getFullName","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserModel"}}}}}}},"/api/tariff/limit":{"get":{"tags":["user-tariff-controller"],"operationId":"limit","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserTariffModel"}}}}}}},"/api/payment":{"get":{"tags":["payments-controller"],"operationId":"getByUserId","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentInfoModel"}}}}}}}},"/api/payment/prices":{"get":{"tags":["payments-controller"],"operationId":"getPrices","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentPricesModel"}}}}}}},"/api/payment/networks":{"get":{"tags":["payments-controller"],"operationId":"listAllNetworks","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ethereum","binance_smart_chain","tron","bitcoin"]}}}}}}}},"/api/payment/methods/currencies":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllCurrency","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodCurrencyModel"}}}}}}}},"/api/payment/methods/by/user":{"get":{"tags":["payment-methods-controller"],"operationId":"listAll_1","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsModel"}}}}}}}},"/api/payment/methods/by/currency":{"get":{"tags":["payment-methods-controller"],"operationId":"listPaymentMethodsByCurrency","parameters":[{"name":"iso","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodsModel"}}}}}}}},"/api/payment/methods/by/currency/{currency}":{"get":{"tags":["payment-methods-controller"],"operationId":"listAllBankByCurrencyId","parameters":[{"name":"currency","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankDictModel"}}}}}}}},"/api/payment/currencies":{"get":{"tags":["payments-controller"],"operationId":"listAllCurrencies","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ETH","BNB","TRX","BTC","USDT"]}}}}}}}},"/api/payment/address":{"get":{"tags":["payments-controller"],"operationId":"createAddress","parameters":[{"name":"network","in":"query","required":true,"schema":{"type":"string","enum":["ethereum","binance_smart_chain","tron","bitcoin"]}},{"name":"currency","in":"query","required":true,"schema":{"type":"string","enum":["ETH","BNB","TRX","BTC","USDT"]}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/octav/transactions":{"get":{"tags":["octav-controller"],"operationId":"getTransactions","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OctavTransactionResponse"}}}}}}},"/api/octav/portfolio":{"get":{"tags":["octav-controller"],"operationId":"getPortfolio","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OctavPortfolioResponse"}}}}}}}},"/api/kyc":{"get":{"tags":["kyc-controller"],"operationId":"getKycInfo","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KycModel"}}}}}}},"/api/kyc/form":{"get":{"tags":["kyc-controller"],"operationId":"getFormLink","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/keys":{"get":{"tags":["api-key-controller"],"operationId":"getNewApiKey","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PriceApiKeyModel"}}}}}}}},"/api/exchanger/settings":{"get":{"tags":["exchanger-controller"],"operationId":"getUserSettingsByUserId","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}}},"/api/exchanger/settings/{id}":{"get":{"tags":["exchanger-controller"],"operationId":"getUserSettingsById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangerSettingsInfoModel"}}}}}}},"/api/exchanger/settings/status":{"get":{"tags":["exchanger-controller"],"operationId":"getSettingsStatus","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerMinModel"}}}}}}}},"/api/exchanger/networks":{"get":{"tags":["exchanger-controller"],"operationId":"getNetworks","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IdNetworkModel"}}}}}}}},"/api/exchanger/filter/group":{"get":{"tags":["exchanger-controller"],"operationId":"getGroupedStats","parameters":[{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangerSettingsGroupModel"}}}}}}}},"/api/exchange/byId":{"get":{"tags":["exchange-controller"],"operationId":"getExchangeById_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeModel"}}}}}}},"/api/exchange/active/count":{"get":{"tags":["exchange-controller"],"operationId":"getExchangesActiveCount","parameters":[{"name":"api-key","in":"query","description":"api key","required":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/coin-pairs/pairs/by/currency":{"get":{"tags":["p
[...]
