.numeric-field {
  // background: var(--color-background-default);
  // border-radius: 16px;
  // padding: 10px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: var(--color-border-default);
  // background: var(--color-background-default);

  .unit-input {
    border: none;
    padding: 0;
    min-height: 0;
    // flex: 0;
  }
}
