// @import "./react-gallery/carousel.min.css";

.onboarding-welcome {
  .control-dots .dot {
    background: var(--color-icon-muted);
    box-shadow: none;

    &.selected {
      background: var(--color-icon-default);
    }
  }

  .welcome-card {
    background: var(--color-background-alternative);
    margin: 30px;
    padding: 30px;
    flex: 1px;
    border: 1px solid var(--color-primary-default);
    border-radius: 7px;
  }

  &__cards {
    display: flex;
  }
}
