@keyframes loading-skeleton-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.loading-skeleton {
  position: relative;

  &__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: none;

    &--show {
      display: block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 20%;
      right: 0;
      bottom: 20%;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 2px;
      z-index: 1;
    }

    &::before {
      background-color: var(--color-border-default);
    }

    &::after {
      z-index: 1;
      //animation: loading-skeleton-animation 1s linear infinite alternate;
      animation: loading-skeleton-animation 1s linear infinite;
      background-image: linear-gradient(
          90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, .2) 20%,
          rgba(#fff, .5) 50%,
          rgba(#fff, .7) 70%,
          rgba(#fff, 0)
      );
    }
  }
}
